@import url('https://fonts.bunny.net/css2?family=Quicksand:wght@300..700&display=swap');


:root {
  --primary: #737373;
  --secondary: rgb(143, 197, 251);
  --secondary-hover: #161616;
  --max-width: 47rem;
  --text-color: #ffffff;
  --background-color: #252525;
  --link-color: #353535;
}

* {
  box-sizing: border-box;
}

span, tr td {
  color: var(--text-color);
}

.center {
  display: block;
  margin: auto;
  width: 30vh;
  height: 10vh;
}

header {
  padding: 0 !important;
  margin-bottom: 1rem;
}

.infoText, .content {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary);
  border-radius: 0.25rem
}

.banner a span, .banner span {
  color: #eee !important;
  margin-bottom: 5px !important;
}

body, header h1 {
  color: var(--text-color);
  font-family: 'Quicksand', sans-serif;
  -webkit-text-size-adjust: 100%;
  text-align: left;
  margin: 1rem;
  background-color: var(--link-color);
}

input {
  font-family: 'Quicksand', sans-serif;
}

.main, header, footer {
  margin: auto;
  max-width: var(--max-width);
  line-height: 1.3;
}

header.desc, header h1 .hl {
  color: var(--primary);
}

code, header .desc, header h1 {
  margin: 0;
}

code {
  color: var(--background-color);
}

footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  overflow-x: auto;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
}

td {
  border: solid 1px var(--primary);
  border-style: none;
  padding: 0.25rem;
}

tr:last-child td:first-child { border-bottom-left-radius: 0.25rem; }
tr:last-child td:last-child { border-bottom-right-radius: 0.25rem; }

tr:first-child td { border-top-style: solid; }

.all-tags, .tagsList:not(td) {
  margin: 1rem 0;
  text-align: center;
}

.tagsList {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.tagTitle, .tagsList li {
  display: inline-block;
  color: var(--secondary);
  border: 0.1px solid var(--primary);
  padding: 0.1em 0.4rem;
}

.tagsList li a {
  color: #eee;
}

a {
  text-decoration: none;
}

.chroma:not(.lntd) {
  margin: 0;
  padding: 0.3rem;
}

pre {
  overflow-x: auto;
  position: relative;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  border-left: 0.25em solid var(--secondary);
}

.tableList td, .tableList th {
  padding: 0.35rem 0.4rem;
  width: 50%;
}

a {
  color: var(--text-color);
  text-shadow: 0 0 3px var(--text-color);
}

a:hover {
  text-shadow: 0 0 5px var(--text-color);
  -webkit-transition: background-color 0.15s ease-in;
  -ms-transition: background-color 0.15s ease-in;
  transition: text-shadow 0.15s ease-in;
}

a:not(:hover) {
  text-shadow: 0 0 3px var(--text-color);
  -webkit-transition: background-color 0.15s ease-in;
  -ms-transition: background-color 0.15s ease-in;
  transition: text-shadow 0.15s ease-in;
}

.tableList tr:hover td {
  background-color: var(--secondary-hover);
}

.tagsList li {
  background-color: var(--background-color);
  border-radius: 0.25rem;
}

#tableListBody {
  background-color: var(--background-color);
}

:not(pre) > code {
  background-color: #f0f0f0;
  padding: 0.1rem 0.2rem;
}

header h1 img {
  height: 1.5rem;
}

.content table td, .content table th {
  border: 1px solid var(--primary);
}

.content .gist table td {
  border: initial;
}

.content table th {
  background: var(--secondary-hover);
}

img {
  max-width: 100%;
}

.chroma .hl, .chroma table.lntable {
  display: flex;
}

.chroma .lntable .lntd:last-of-type {
  width: 100%;
}

.four-o-four {
  text-align: center;
  font-size: 2rem;
}
